.title{
    width: 100px;
    margin-left: 50px;
  }
  
  .container{
    background-color:white;
    color: #505e6c;
    box-shadow: solid 5px;
  }
  
  @media (max-width:800px) {
    .container {
      padding:40px;
    }
  }
  
  
  .item img{
    padding: 0;
    width: 80%;
    height: 60%;
    margin: 5% 10% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 6px solid #e1e1e1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  }
  
  
  .profile_box{
    text-align:center;
    padding: 50px;
    background-color: #ffffff;
    font-size: 18px;
  }

  .profile_box #activity_title{
      margin-top: -30px;
      margin-bottom: 30px;
  }
  
  .name{
    text-align: center;
    padding: 10px;
    color: black;
  }
  
  .desc{
    text-align: left;
    padding:20px;
  
  }
  
  .line{
    padding: 15px;
    border-bottom: 2px solid #a1b0be;
  }.end{
    border-bottom: 0px;
    margin:auto;
    text-align: center;
  }

  @media (max-width:800px) {
    .btn {
      margin-top: 10px;
    }
  }